<div class="log-body pd_30 mt_0">
  <div class="mp_box">
  	<div class="mp_leftbox">
  	<!-- 链路总览 -->
  		<div class="alllink angle mp_br">
  			<span class="a_lt"></span>
  			<span class="a_rt"></span>
  			<span class="a_rd"></span>
  			<span class="a_ld"></span>

  			<div class="mp_title">
  			    <div class="l_t"><span >链路总览</span></div>
  			    <div class="r_t">
            <span>设备名称:</span>
            <label for="kname" class="iSwitch">
               <input id="kname" type="checkbox" checked yscheck>
               <i></i>
             </label> 
            </div>
  			</div>


        <table style="width: 100%;text-align: center;" border="1">  
          <tbody>
            <tr>
              <td height="50">1 </td>
              <td>2 </td>
              <td>3 </td>
              <td>4 </td>
              <td>5 </td>
              <td>6 </td>
              <td>7 </td>
              <td>8 </td>
              <td>9 </td>
              <td>10 </td>
            </tr>

            <tr>
              <td  height="50">1 </td>
              <td>2 </td>
              <td>3 </td>
              <td>4 </td>
              <td>5 </td>
              <td>6 </td>
              <td>7 </td>
              <td>8 </td>
              <td>9 </td>
              <td>10 </td>
            </tr>
          </tbody>
        </table>

        <!-- <div class="linkall dpf">
          <div class="leftlink">
            <div class="llitem dpf ptr">
              <div class="mp_midline"></div>
              <div class="epitem ptr"><div><img class="dximg" src="../images/1.png" alt=""></div>
              <div class="iname" ng-if="ischk"><span>外部介入单位 192.168.0.0</span></div>
              </div>
              <div class="epitem ptr"><img src="../images/wjdw.png" alt="">

              </div>
              <div class="epitem"><img src="../images/mzjg.png" alt="">

              </div>
              <div class="epitem"><img src="../images/nw.png" alt="">
 
              </div>
              <div class="vtline"></div>
              <img class="guangdian" src="../images/guangdian.png" alt="">
               <img class="guangdian2" src="../images/guangdian.png" alt="">  
            </div>
     
               <div class="llitem dpf ptr">
               <div class="mp_midline midsline"></div>
              <div class="epitem ptr"><img src="../images/red-cc.png" alt=""><img class="tan" src="../images/tan.png" alt="">
  <div class="iname" ng-if="ischk"><span>外部介入单位 192.168.0.0</span></div>
              </div>
              <div class="epitem ptr"><img src="../images/ads.png" alt=""><img class="redx" src="../images/redx.png" alt=""></div>
              <div class="epitem"><img src="../images/spzd.png" alt=""></div>
              <div class="epitem"><img src="../images/rqids.png" alt=""></div>
              <div class="epitem"><img src="../images/aws.png" alt=""></div>
            </div>

   
               <div class="llitem dpf ptr">
               <div class="mp_midline"></div>
              <div class="epitem ptr"><img src="../images/shebao.png" alt="">
  <div class="iname" ng-if="ischk"><span>外部介入单位 192.168.0.0</span></div>
              </div>
              <div class="epitem ptr"><img src="../images/shqsy.png" alt=""><img class="redx" src="../images/redx.png" alt=""></div>
              <div class="epitem ptr">
              <img src="../images/shebao.png" alt="">
              <div class="sbinfo dpb" style="display: none">
               <div class="process"><div id="cpup"></div><div class="prtext"><span>cpu</span></div></div> 
               <div class="process"><div id="ypp"></div><div class="prtext"><span>内存</span></div></div> 
               <div class="process"><div id="ncp"></div><div class="prtext"><span>硬盘</span></div></div> 
               <div class="process"><div id="wlp"></div><div class="prtext"><span>网络</span></div></div> 
              </div>
              </div>
              <div class="epitem ptr"><img src="../images/fwq.png" alt="">
              </div>
              <div class="epitem"><img src="../images/nwadmin.png" alt=""></div>
              <div class="epitem ptr"><img src="../images/hg.png" alt="">

              </div>
              <div class="vbline"></div>
            </div>




          </div>
          <div class="rightlink">
           <div class="ptr"><img src="../images/jhq.png" alt="">
           </div>
           <div class="sline"></div>
            <div class="ptr"><img src="../images/plate.png" alt="">
  <div class="ibname" ng-if="ischk"><span>运维监控平台 192.168.0.0</span></div>
            </div>
             
            

          </div>
        </div> -->


  		</div>
  	<!-- 链路总览完 -->

  	<!-- 报警数据统计 -->
  		<div class="alarmsta angle mp_br">
  			<span class="a_lt"></span>
  			<span class="a_rt"></span>
  			<span class="a_rd"></span>
  			<span class="a_ld"></span>

  			<div class="mp_title">
  			    <div class="l_t"><span >报警数统计</span></div>
  			</div>
        
        <div class="charts" id="lchart">

          
        </div>

  		</div>
  	</div>
  	<!-- 报警数据统计完 -->
  	<div class="mp_rightbox">
  	<!-- 报警总览 -->
  		<div class="allalarm angle mp_br">
  			<span class="a_lt"></span>
  			<span class="a_rt"></span>
  			<span class="a_rd"></span>
  			<span class="a_ld"></span>

  			<div class="mp_title ptr">
  			    <div class="l_t"><span >报警总览</span></div>
  			    <div class="r_t f_16"><span >2018-08-08</span><img class="downarr" src="../images/downarr.png" alt=""></div>
  			</div>



    <div class="gaugebox dpf">
    <div class="gaugeitem">
     <div style="width:150px" class="ptr">
      <div class="bfb"><span>20%</span></div>
      <img class="kdbg" src="../images/kd1.png" alt="">
      <div class='gauge'><canvas id="foo1" style=""></canvas></div>
      <div class="gtext dpf">
        <div class="glt lb"><span>链路</span></div>
        <div class="grt lb"><span>报警</span></div>
      </div>
      <div class="gnum dpf">
        <div class="gln"><span>5</span></div>
        <div class="grn red"><span>1</span></div>
      </div>
      </div>
    </div>
    <div class="gaugeitem">
        <div style="width:150px" class="ptr">
      <div class="bfb"><span>50%</span></div>
      <img class="kdbg" src="../images/kd1.png" alt="">
      <div class='gauge'><canvas id="foo2" style=""></canvas></div>
      <div class="gtext dpf">
        <div class="glt lb"><span>设备</span></div>
        <div class="grt lb"><span>报警</span></div>
      </div>
      <div class="gnum dpf">
        <div class="gln"><span>51</span></div>
        <div class="grn red"><span>25</span></div>
      </div>
      </div>
    </div>
    <div class="gaugeitem">
       <div style="width:150px" class="ptr">
      <div class="bfb"><span>10%</span></div>
      <img class="kdbg" src="../images/kd1.png" alt="">
      <div class='gauge'><canvas id="foo3" style=""></canvas></div>
      <div class="gtext dpf">
        <div class="glt lb"><span>任务</span></div>
        <div class="grt lb"><span>报警</span></div>
      </div>
      <div class="gnum dpf">
        <div class="gln"><span>345</span></div>
        <div class="grn red"><span>34</span></div>
      </div>
      </div>
    </div>
    <!--  -->
     </div>



  		</div>
  	<!-- 报警总览完 -->

  	<!-- 报警周排行 -->
  		<div class="alarmph angle mp_br">
  			<span class="a_lt"></span>
  			<span class="a_rt"></span>
  			<span class="a_rd"></span>
  			<span class="a_ld"></span>

  			<div class="mp_title">
  			    <div class="l_t"><span >报警排行榜（周）</span></div>
  			</div>

  			<div class="dpf mpts">
  				<div class="mpts_l f_16 "><span class="{{tapshow==0?'mpts_on':''}}" tapshow="0">链路</span></div>
  				<div class="mpts_e f_16"><span class="{{tapshow==1?'mpts_on':''}}" tapshow="1">设备</span></div>
  				<div class="mpts_t f_16"><span class="{{tapshow==2?'mpts_on':''}}" tapshow="2">任务</span></div>
  			</div>


        <div id="zchart" class="zchart" ng-show="tapshow==0"></div>
    <!--     <div id="zchart" class="zchart"  ng-show="tapshow==1"></div>
        <div id="zchart" class="zchart"  ng-show="tapshow==2"></div> -->

<!--         <div class='gauge'><canvas id="foo4" style=""></canvas></div> -->


  		</div>
  	<!-- 报警周排行完 -->

  	<!-- 后台数据统计 -->
  		<div class="datasta angle mp_br">
  			<span class="a_lt"></span>
  			<span class="a_rt"></span>
  			<span class="a_rd"></span>
  			<span class="a_ld"></span>

  			<div class="mp_title">
  			    <div class="l_t"><span >后台数据统计（月）</span></div>
  			</div>

  			<div class="dpf mp_sta">
  				<div class="stabox">
  				  <div><img src="../images/sta_file.png" alt=""></div>
  				  <div class="staf_t"><span class="lb f_16">文件/个</span></div>
  				  <div class="staf_n"><span>10000</span></div>
  				</div>
  				<div class="stabox">
  				  <div><img src="../images/sta_data.png" alt=""></div>
  				  <div class="stad_t"><span class="lb f_16">数据/条</span></div>
  				  <div class="stad_n"><span>34234</span></div>
  				</div>
  				<div class="stabox">
  				  <div><img src="../images/sta_liul.png" alt=""></div>
  				  <div class="stal_t"><span class="lb f_16">流量/MB</span></div>
  				  <div class="stal_n"><span>500</span></div>
  				</div>
  			</div>
  		</div>
  	<!-- 后台数据统计完 -->
  	</div>
  </div>
</div>


