<!-- ----------平台管理---------- -->
<div class="log-body pd_30 mt_0">
    <div class="mainbox">
        <div class="leftbox">
            <ul class="boxmenu">
                <li  tapshow='0'><a href="#/linkadmin" class="usercen l_btn ex_act">
                        <img class="logimg hui" src="../images/sbgl.png" alt="">
                        <img class="logimg bai" src="../images/sbgl_act.png" alt="">
                        <span>设备管理</span>
                    </a></li>
                <li  tapshow='0'><a href="#/linkadmin" class="userpro l_btn ex_act">
                        <img class="logimg hui" src="../images/llgl.png" alt="">
                        <img class="logimg bai" src="../images/llgl_act.png" alt="">
                        <span>链路管理</span>
                    </a></li>
                <li  tapshow='0'><a href="#/register" class="userpro l_btn ex_act">
                        <img class="logimg hui" src="../images/ptzc.png" alt="">
                        <img class="logimg bai" src="../images/ptzc_act.png" alt="">
                        <span>平台注册</span>
                    </a></li>
                <li  tapshow='0'><a href="javascript:;" class="userpro act l_btn ex_act">
                        <img class="logimg" src="../images/admin_act.png" alt=""><span>平台管理</span>
                    </a></li>
            </ul>
        </div>
        <div class="rightbox">
            <div class="breadnav">
                <span>面包屑 /</span>
                <span>面包屑 / </span>
                <span style="color:#fff">面包屑</span>
                <!-- <button type="button" value="123">123</button> -->
            </div>
            <div class="tmbox res-leftbox">
                <div class="tapbtn">
                    <div class="restore-tit"><span>添加设备</span></div>
                </div>
                <div class="res-body">
                    <div class="lic-position">
                        <div>
                            <div class="pla-dec lic-dec">
                                <span>网络配置</span>
                                <div class="pla_decspeace-mtop">
                                    <p>IP地址：</p>
                                    <input type="text" id="plaip" placeholder="请输入IP地址" class="lic-input layui-input"
                                        ng-model="YS_obja.params.ip">
                                </div>
                                <div class="pla_decspeace-mtop">
                                    <p>子网掩码：</p>
                                    <input type="text" id="playm" placeholder="请输入子网掩码" class="lic-input layui-input"
                                        ng-model="YS_obja.params.zwym">
                                </div>
                                <div class="pla_decspeace-mtop">
                                    <p>网关：</p>
                                    <input type="text" id="plawg" placeholder="请输入网关" class="lic-input layui-input"
                                        ng-model="YS_obja.params.wg">
                                </div>
                                <div class="pla_decspeace-mtop">
                                    <p>首选DNS服务器地址：</p>
                                    <input type="text" id="plasxdns" placeholder="请输入首选DNS服务器地址" class="lic-input layui-input"
                                        ng-model="YS_obja.params.sxdns">
                                </div>
                                <div class="pla_decspeace-mtop">
                                    <p>备用DNS服务器地址：</p>
                                    <input type="text" id="plabydns" placeholder="请输入备用DNS服务器地址" class="lic-input layui-input"
                                        ng-model="YS_obja.params.bydns">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lic-position lic-secdechigth">
                        <div>
                            <div class="pla-dec lic-dec">
                                <span>体检配置</span>
                                <div class="layui-form">
                                    <div class="layui-form-item m_b20">
                                        <label class="layui-form-label equ-right">体检类型：</label>
                                        <div class="layui-input-block equ-right-del" id="platjlx">
                                            <select name="city" lay-verify="required" lay-filter="YS_obja.params.tjlx" ysselect="YS_obja.params.tjlx">
                                                <option value="" selected="" class="sph">请选择</option>
                                                <option value="0">东北</option>
                                                <option value="1">西北</option>
                                                <option value="2">西南</option>
                                            </select>
                                            <div class="layui-unselect layui-form-select layui-form-selected">
                                                <div class="layui-select-title selectinp">
                                                    <input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect bjinput">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pla_time_contant pla_decspeace-mtop">
                                    <p>每天体检时间：</p>
                                    <div class="pla_tjtime layui-form cp">
                                        <input type="text" readonly="readonly" id="platjsj" class="pla-time layui-input cp"
                                            id="test3" placeholder="12:10:00" lay-key="4" yslaytime="YS_obja.params.tjsj">
                                        <img src="../images/choose_time.png" alt="">
                                    </div>
                                    <button class="edi-btn-white layui-btn layui-btn-lg layui-btn-normal ml_20 hw_btn ex_act" addtjsj>添加</button>
                                </div>
                                <div class="pla_time_contant pla_decspeace-mtop" ng-repeat="(key, value) in YS_objb">
                                    <p></p>
                                    <div class="pla_tjtime layui-form cp">
                                        <input type="text" readonly="readonly" class="pla-time layui-input"
                                            placeholder="12:10:00"  yslaytime value="{{value.data.configData.checkTimes}}">
                                        <img src="../images/choose_time.png">
                                    </div>
                                    <img src="../images/pla-delete.png" class="cp pla_delete_left" alt="" deltjsj>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lic-position">
                        <div>
                            <div class="pla-dec lic-dec mt_37 mb_60">
                                <span>日志配置</span>
                                <div class="pla_decspeace-mtop">
                                    <p>日志保留天数：</p>
                                    <input type="text" placeholder="日志保留天数" id="plarz" class="lic-input layui-input"
                                        ng-model="YS_obja.params.rzts">
                                </div>
                                <button class="lic-btn layui-btn layui-btn-lg layui-btn-normal l_btn ex_act" ysfetch="YS_obja">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>